<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>

<body>
    <h1>Hello from HTML Reporter</h1>
    <h2>{{ total }} tests in total</h2>
    <h2>{{ passed }} tests passed</h2>
    <h2>{{ skipped }} tests skipped</h2>
</body>

</html>